.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.duck-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem; /* adds space below image */
}

.duck-image.yes-mode {
  width: 700px;       /* bigger width */
  height: 700px;      /* bigger height */
  object-fit: cover;  /* keeps image proportion, crops if needed */
  margin-bottom: 2rem; /* spacing below image */
}

.button-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.button-yes {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border-radius: 10px;
}

.button-no {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}